<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{> header}}
    {{> sidenav}}
     <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <div class="adjust" style="margin-top: 8%;margin-left: 5%">
        <h1>Transactions</h1>
        <div>
            <form>
                <input type="date" name="transDate" id="transDate">
                <button type="button" id="ordersBtn">SUBMIT</button>
            </form>
        </div>

    <script>
    $(document).ready(function(){
        $('#ordersBtn').click(function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            summary = JSON.parse(this.responseText)
           orders = summary["orders"]
            
            document.getElementById("orders").innerHTML = "";
            var table_no = []
            var finaltotal = []
            for( i=0; i<orders.length ;i++){                
                table_no[i] = orders[i].tableno  
                finaltotal[i] = orders[i].finaltotal
                document.getElementById("orders").innerHTML += '<br><table border=1><tr><td>Table no.</td><td>Total Amount</td></tr><tr><td>'+ table_no[i] + '</td><td>' +finaltotal[i] +'</td></tr></table>';
            }
               console.log(finaltotal);
                console.log(table_no);
    }
  };
  var transDate = $('#transDate').val();
    console.log("Date", transDate);
    xhttp.open("GET", `http://localhost:3000/api/profile?date=${transDate}`, true);
    xhttp.send();
            });
    });
    </script>

    <div id="orders">

    </div>    
</div>
</body>
</html>