.container{
    clear:both;
    max-width:70%;
    display:block;
    border: 5px solid;
    text-align:center;
    margin: auto;
}

#banner{
    text-align: center;
    font-family: Comic Sans Ms;
}

#table1{
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    width: 42%;
    table-layout: fixed;
}

#food{
    border: 1px solid black;
}

#seat{
    padding: 4px;
}

th{
    border: 1px solid black;
    padding: 10px;
}

.shift{
    border: 1px solid black;
    text-align: right;
    overflow: hidden;
    white-space: nowrap; 
}

.qtyid{
    border: 1px solid black;
}

#ManTable{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#design{
    display: inline-block;
    width: 70%;
}

.wrapper{
    text-align: center;
}

#layout{
    border-color: white !important; 
}

#layout2{
    margin-top: 11%;
}

.green{
    color: green;
}

.adjust{
    position: absolute;
    left: 14%;
}
