<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
    {{> header}}
    <div class="col-md-6 mb-6 alert alert-success" role="alert" style="margin-top:10%;margin-left:25%">
     Successful Payment!
    </div>
    <a href="/manager" class="btn btn-primary" style="margin-top:15%;margin-left:48%">Back</a>
</body>
</html>